{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main>
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            {{- range .Site.Params.body -}}
                <p>{{.}}</p>
                <a href="https://www.credly.com/badges/f14b3806-b514-4808-bd92-47e87d73058e/public_url"><img src="/aws-certified-cloud-practitioner.png" class="center" alt="AWS Cloud Practitioner" style="max-width:150px" /></a>
            {{- end }}
    </main>
{{ end }}
